
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:1;
}

body {
  padding-top: 30px;
 
}

.bg-1 {
  background-color: #ffffff;
  color: #262626;

}

.bg-2 {
  background-color: #f6f6f6;
  color: #262626;
  padding: 60px 50px;
}

.bg-3 {
  background-color: #ffffff;
  color: #262626;

}

.container-fluid.bg-3 {
  padding: 60px 50px;
}


img {
  max-width: 100%; 
  height: auto;
}

.glyphicon {
    font-size: 50px;
    color: #ee2d56
}

.signup {
  padding: 30px
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
}


.footer {
    font-size: 15px;
    padding-top: 40px;
    margin-bottom: 20px;
    color: #808080;
}

