.footer {
  position: absolute;
  bottom: 0;
}

.bg-1 {
  background-color: #ffffff;
  color: #262626;

}

.bg-2 {
  background-color: #f6f6f6;
  color: #262626;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
