html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 60px;
  padding-left: 40px;
  margin-bottom: 60px;
}

.show {
  margin-top: 40px;
}


.btn.btn-default {
margin-bottom: 40px;
}

.btn.btn-primary {
  margin-bottom: 10px
}

.btn.btn-danger {
  margin-bottom: 30px
}

h1 {
  margin-bottom: 30px
}

.user_name{
    font-size:14px;
    font-weight: bold;
}

.comments-list {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
}


.footer {
  position: absolute;
  bottom: 0;

}
