<h1>Create an Account to Report an Alarm</h1>

<form action="/signup" method="POST">

  <div class="form-group">
    <label for="username">Username: </label>
    <input class="form-control" type="text" name="username" id="username">
  </div>

  <div class="form-group">
    <label for="email">Email: </label>
    <input class="form-control" type="email" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="password">Password: </label>
    <input <input class="form-control" type="password" name="password" id="password">
  </div>

  <div class="form-group">
    <label for="license_plate">Add your New York State license plate number and get emailed if your car alarm is reported as going off (you'll always remain anonymous): </label>
    <input class="form-control" type="text" name="license_plate" id="license_plate">
  </div>

  <div class="form-group">
    <label for="borough">Choose your borough:</label>
    <select class="form-control" name="borough" id="borough">
      <option value="Brooklyn">Brooklyn</option>
      <option value="Bronx">Bronx</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Queens">Queens</option>
    </select>
  </div>

  <input class="btn btn-primary" type="submit" value="Create Account">

</form>