<h4>Sign Up Here!</h4>

<form action="/signup" method="POST">

<label for="username">Username: </label>
<input type="text" name="username" id="username">

<label for="email">Email: </label>
<input type="email" name="email" id="email">

<label for="password">Password: </label>
<input type="password" name="password" id="password"><br>

Add your New York State license plate number and get emailed if your car alarm is reported as going off (you'll always remain anonymous):
<input type="text" name="license_plate"><br>

<input type="submit" value="Create Account">


</form>