<h1>Report a Car Alarm</h1>

<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% end %>

<form action="/events" method="POST">
  <div class="form-group">
    <label for="address">Approximate address: </label>
    <input class="form-control" type="text" name="address" id="address">
  </div>

  <div class="form-group">
    <label for="borough">Borough:</label>
    <select class="form-control" name="borough" id="borough">
      <option value="Brooklyn">Brooklyn</option>
      <option value="Bronx">Bronx</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Queens">Queens</option>
    </select>
  </div>

  <div class="form-group">
    <label for="car_model">Car Model: </label>
    <input class="form-control" type="text" name="car_model" id="car_model">
  </div>

  <div class="form-group">
    <label for="license_plate">License Plate Number: </label>
    <input class="form-control" type="text" name="license_plate" id="license_plate">
  </div>

  <input class="btn btn-primary" type="submit" value="Report Car Alarm">

</form>