<h4>Report a Car Alarm</h4>

<form action="/events" method="POST">

<label for="address">Address: </label>
<input type="text" name="address" id="address">

<label for="borough">Borough: </label>
<input type="text" name="borough" id="borough">

<label for="car_model">Car Model: </label>
<input type="text" name="car_model" id="car_model">

<label for="license_plate">License Plate Number: </label>
<input type="text" name="license_plate" id="license_plate">

<input type="submit" value="Report Car Alarm">


</form>