<div class="container-fluid bg-1 text-center">
  <img src="/images/public_logo.jpg" class="img-fluid"  alt="Car Alarm Charm">
  <h1>Report New York City Car Alarms<br>and Get Some Peace of Mind</h1>
  <img src="/images/plug_ears.jpg" class="img-fluid" alt="Guy plugging ears">
</div>

<div class="container-fluid bg-2 text-center">
  <h2>CarAlarmCharm is a free resource to manage New York City car alarms.</h2>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>WHAT YOU CAN DO:</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-volume-up"></span>
      <h3>REPORT AN ALARM</h3>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user"></span>
      <h3>COMMUNICATE WITH NEIGHBORS AND ORGANIZE ACTION</h3>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok"></span>
      <h3>GET EMAILED IF YOUR CAR ALARM IS GOING OFF</h3>
    </div>
  </div>
  

</div>


<h1>Report New York City Car Alarms</h1>

<h4><a href="/signup">Sign Up</a> &nbsp <a href="/login">Login</a></h4>